ul {
  max-width: 1150px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* justify-content: center; */
}

li {
  list-style: none;
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 200px;
}

 img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-out;
}

li:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

li:hover img {
  transform: scale(1.1);
}